# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
stats_website_venv/
.venv/
venv/
env/

# Database
*.db
*.sqlite
products.db
instance/

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
